body {
	background-color: #C7EDCC;
}
* {
	box-sizing: border-box;
}
div {
	border-left: none;
	border-right: none;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 10px;
	height: auto;
}
p {
	padding-left: 10px;
	width: auto;
	height: 25px;
	margin: 0px;
	font-size: 1.2em;
}
.word {
	background-color: #dddddd;
}
.pronunciation {
}