<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>音标生成工具</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style_for_submit.css') }}">
		<script src="{{url_for('static', filename='common.js')}}"></script>
	</head>
	<body>
		<form action="/phonetic_transcription_interpreter" method="post">
			<legend>请提交文本:</legend>
			<textarea name="text" maxlength="2000" autofocus></textarea>
			<p><button type="submit">开始生成</button></p>
		</form>
	</body>
</html>