<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>音标生成工具</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style_for_submit.css') }}">
		<script src="{{url_for('static', filename='common.js')}}"></script>
	</head>
	<body>
		<h5>通知：eflclub.me 域名即将到期，到期后将不再续费，本网站的下述两个工具将转移到站长的个人域名下继续提供服务。新网址为：efl.haolee.io，请提前保存书签。旧网址 eflclub.me 将在 4 月底停止使用，届时旧网址将无法访问！再次声明，请将 efl.haolee.io 保存为书签，eflclub.me 即将在 4 月底停止使用！</h5>
		<form action="/phonetic_transcription_interpreter" method="post">
			<legend>请提交文本:</legend>
			<textarea name="text" maxlength="2000" autofocus></textarea>
			<p><button type="submit">开始生成</button></p>
		</form>
	</body>
</html>